aloha_maniskill_sim/
models/
data/
__pycache__/
policy/3D-Diffusion-Policy/3D-Diffusion-Policy/data/
policy/3D-Diffusion-Policy/3D-Diffusion-Policy/checkpoints/
result/
asset.zip
aloha_maniskill_sim_modify/
models_copy/
result_dp3/
task_config/seeds/*.txt
run_all_task.sh
train_dp_all_seed.sh
train_dp3_all_seed.sh
train_dp3_all_seed_w_rgb.sh

# Code Generation
robotwin.py
gpt_api/*