tmp/
aloha_maniskill_sim/
models/
hammer_beat_pkl/
data/
__pycache__/
tmp_/
policy/3D-Diffusion-Policy/3D-Diffusion-Policy/data/
policy/3D-Diffusion-Policy/3D-Diffusion-Policy/checkpoints/
result/
./assert.zip